<%= will_paginate @songs, params: params, previous_label: '<', next_label: '>', renderer: BootstrapPagination::Rails, remote: true %>
<div id="table-data">
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Album</th>
      <th>Artist</th>
      <th>Track</th>
      <th>Length</th>
    </tr>
    </thead>
    <tbody>
    <% @songs.each do |song| %>
        <tr>
          <td><%= song.title %></td>
          <td><%= song.album.title %></td>
          <td><%= song.album.artist.name %></td>
          <td><%= song.track_number %></td>
          <td><%= song.format_length %></td>
        </tr>
    <% end %>
    <% if @songs.empty? %>
    <tr>
      <h3 style="text-align: center">Your search returned zero results. Please try again.</h3>
      <h6 style="text-align: center">Note: some words such as 'the', 'of', or 'and' are too generic and will not return results by themselves</h6>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @songs, params: params, previous_label: '<', next_label: '>', renderer: BootstrapPagination::Rails, remote: true %>
