<p id="notice"><%= notice %></p>

<%= form_tag({:action => 'search'}, :remote => true, :'data-update-target' => 'results') do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search', :disable_with => 'Please wait...', :class => 'submit' %>
<% end %>

<div id="page-paginate">
  <%= will_paginate @songs %>
  <div id="results">
    <%= render partial: 'results', locals: {songs: @songs} %>
  </div>
  <%= will_paginate @songs %>
</div>
<br>
